.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.inactiveButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #FF0000;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
.WIPButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #FFFF00;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
