.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.inactivebutton {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #FF0000;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
.wipbutton {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #CBC3E3;
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
